<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhixin.mapper.ContactMapper">

    <insert id="save">
        INSERT INTO `contact` (name, position, phone, email,sort)
        VALUES (#{contact.name},
                #{contact.position},
                #{contact.phone},
                #{contact.email},
                #{contact.sort})
    </insert>

    <update id="update">
        UPDATE `contact`
        SET name        = #{contact.name},
            position    = #{contact.position},
            phone       = #{contact.phone},
            email       = #{contact.email},
            sort        = #{contact.sort},
            update_time = NOW()
        WHERE id = #{contact.id}
    </update>

    <update id="delete">
        UPDATE `contact`
        SET is_deleted = 1
        WHERE id = #{id}
    </update>

</mapper>