<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhixin.mapper.ModuleSubTypeMapper">

    <insert id="save">
        INSERT INTO `module_sub_type` (type_id, name, sort)
        VALUES (#{moduleType.typeId}, #{moduleType.name}, #{moduleType.sort})
    </insert>

    <update id="update">
        UPDATE `module_sub_type`
        SET type_id     = #{moduleSubType.typeId},
            name        = #{moduleSubType.name},
            sort        = #{moduleSubType.sort},
            update_time = NOW()
        WHERE id = #{moduleSubType.id}
    </update>

    <update id="delete">
        UPDATE `module_sub_type`
        SET is_deleted = 1
        WHERE id = #{id}
    </update>

</mapper>